@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
body {
    padding-top: 50px;
    background-color: #333;
}
h1 {
    font-family: 'Bebas Neue';
    text-align: center;
    color: #fff;
    letter-spacing: 3px;
}
.calculadora {
    width: 450px;
    height: 550px;
    display: flex;
    flex-direction: column;
    background-color: #444;
    border: solid 1px #000;
    margin: 0 auto;
    border-radius: 10px;
}
.campo{
    width: 100%;
    text-align: right;
    height: 110px;
    border-radius: 10px 10px 0 0;
    background-color: #333;
    color: #fff;
}
.botoes {
    display: grid;
    flex-grow: 1;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
}