@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
body {
    padding-top: 50px;
    background-color: #333;
}
h1 {
    font-family: 'Bebas Neue';
    text-align: center;
    color: #fff;
    letter-spacing: 3px;
}
.calculadora {
    width: 450px;
    height: 550px;
    display: flex;
    flex-direction: column;
    background-color: #555;
    border: solid 1px #000;
    margin: 0 auto;
    border-radius: 10px;
}
.campo{
    width: 100%;
    text-align: right;
    height: 110px;
    padding: 0 20px;
    font-family: 'Bebas Neue';
    font-size: 80px;
    border-radius: 10px 10px 0 0;
    background-color: transparent;
    color: #fff;
    border: none;
}
.campo:focus {
    outline: none;
}
.botoes {
    display: grid;
    flex-grow: 1;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
}
.botoes button {
    background-color: #333;
    color: #fff;
    font-size: 50px;
}
.botoes button:nth-child(-n+4), .botoes button:nth-child(4n) {
    background-color: #2a2a2a;
}
.botoes button:nth-child(17){
    border-bottom-left-radius: 10px;
}
.botoes button:last-child{
    background-color: rgb(97, 0, 48);
    border-bottom-right-radius: 10px;
}
.botoes button:last-child:hover {
    background-color: rgb(71, 0, 36);
}
.botoes button:last-child:active {
    background-color: rgb(50, 0, 20);
}
.botoes button:hover {
    background-color: #222;
}
.botoes button:active {
    background-color: #111;
    font-size: 48px;
}