.content {
    margin: 0 auto;
    width: 400px;
}
.form_group {
    margin-bottom: 10px;
}
.form_group label {
    width: 100px;
    display: inline-block;
}
.form_action {
    text-align: right;
    margin-bottom: 20px;
}
.icon {
    display: inline-block;
    height: 20px;
    width: 17px;
}
.edit_icon {
    background-image: url(images/pencil_icon.svg);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}
.delete_icon {
    background-image: url(images/bin_icon.svg);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}
table {
    border-collapse: collapse;
    width: 100%;
}
table, th, td {
    border: 1px solid #333;
}